section
  box-sizing: border-box

.app-container
  display: flex
  flex-direction: column
  height: 100%

.toolbar
  height: 100px

.feeds
  display: -webkit-flex
  -webkit-flex-direction: row

.feed-nav
  -webkit-flex: 1
  height: 500px

.feed-content
  -webkit-flex: 3
  height: 500px
  overflow-y: scroll
  padding: 5px
  h2
    border-bottom: 1px solid grey
    display: inline-block

.feed-nav-item
  padding: 10px 5px
  font-size: 18px
  cursor: pointer
  &.selected
    background-color: yellow
  &:hover
    background-color: grey
  #actions.show-actions
      display: block
  #actions
      display: none

.backdrop
  display: none
  position: fixed
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  background-color: #aaaaaa
  opacity: 0.8

.add-feed-modal
  display: none
  position: absolute
  z-index: 100
  top: 50px
  width: 30%
  left: 30%
  background-color: white

.modal-shown
  .backdrop
    display: block
  .add-feed-modal
    display: block
