html, body
  margin: 0
  height: 100%

section, div
  box-sizing: border-box

#feedapp
  height: 100%
  >section
    height: 100%


.app-container
  display: flex
  flex-direction: column
  height: 100%

.toolbar
  display: flex
  flex: 1
  padding: 15px 0
  align-items: center
  justify-content: center
  input
    height: 30px
    width: 180px
    border-radius: 5px
    border: 2px solid grey
    font-size: 18px
  .search-button
    margin-left: 5px
    height: 32px
    width: 32px
    background: url("../assets/ico-search.svg")
    &:hover
      background: url("../assets/ico-search-hover.svg")


.feeds
  display: flex
  flex-direction: row
  height: calc(100% - 66px)

.feed-nav
  flex: 1
  height: 100%
  ul
    list-style: none
    padding-left: 0   // freaking list style

.feed-content
  flex: 3
  overflow-y: scroll
  padding: 5px
  height: 100%
  h2
    border-bottom: 1px solid grey
    display: inline-block
    a
      text-decoration: none
      color: black

.feed-nav-item
  display: flex
  flex-direction: row
  align-items: center
  padding: 5px 2px
  font-size: 18px
  cursor: pointer
  #status
    width: 10%
    &.isLoading:before
      content: ""
      background: url("../assets/loading.svg") no-repeat
      display: inline-block
      width: 20px
      height: 20px
      position: relative
      top: 2px
  #content
    width: 80%
    line-height: 1.5
  #actions
    display: none
    height: 18px
    color: orange
    width: 10%
    span
      vertical-align: middle
      line-height: 18px
  &.selected
    font-weight: 400
    color: red
  &:hover
    background-color: whitesmoke
  #actions.show-actions
    display: flex
    &:hover
      font-size: 120%

@import "component"

