section
  box-sizing: border-box

.toolbar
  height: 100px
//background-color: green

.feeds
  display: -webkit-flex
  -webkit-flex-direction: row

.feed-nav
  -webkit-flex: 1
  height: 500px
//background-color: red

.feed-content
  -webkit-flex: 3
  height: 500px
  overflow-y: scroll
  //background-color: orange
  padding: 5px

li.selected
  background-color: yellow

.feed-nav-item
  padding: 10px 5px
  font-size: 18px

.backdrop
  position: fixed
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  background-color: #aaaaaa
  opacity: 0.8

.add-feed-modal
  position: absolute
  z-index: 100
  top: 50px
  width: 30%
  left: 30%
  background-color: white

